---
import BlogCard from '../../components/BlogCard.astro'
import {SITE_TITLE, SITE_DESCRIPTION} from '../../consts';
import {getCollection} from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
    (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---
<section>
    <ul class="posts">
        {
            posts.map((post) => (
                    <li class="p-3 post">
                        <BlogCard post={post}/>
                    </li>
            ))
        }
    </ul>
</section>
<style>
    .posts {
        flex-flow: column;
    }
    .post {
        display: block;
    }
</style>
